/* .navbar{
  width: 100%;
  position: relative;
  margin-top: 1%;
}
ul{
  display: flex;
  margin-left: 50%;
}
h3{color: #f8c12a;}



.welcome{
  color: black;
  width: 100%;
  display: flex;
}
.container{

  width: 100%;

  padding: 0;

}
.card{

  margin: 2% 1%;
  float: left;
  border-radius: 15px;
  outline: none;
  box-shadow: 4px 4px 5px 4px gray;
}
.carpic{
  min-height: 40vh;


  background-position: center;
  background-size: cover ;
  color:  whitesmoke;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
}
.carpic:hover{
  opacity: 0.8;

}
.addtocart{
  transform: scale(0);
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  background-color: white;
  border-radius: 15px;
  letter-spacing: 2px;

}
.addtocart:active{
  animation-name: add;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.carpic:hover .addtocart{
  transform: scale(1);
  transition: .5s;
}
p{
  margin: 0;
}
.card p{
  background-color: white;
  color: black;
  letter-spacing: 1px;
  padding: 5%;
  opacity: 0.8;
  border-radius: 0px 0px 10px 10px;
}
.bootel{
 
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  
  align-items: center;
}
.row{
  display: flex;
  margin: 0;
  padding: 0;
}


@media screen and (max-width:1200px) {
  .bootel{
    margin-top: 7%;
  }
}
@media screen and (max-width:800px) {
  .bootel{
    margin-top: 3%;
  }
  
}
@media screen and (max-width:940px) {
  .carpic{
    height: 30vh;
  }
}

.info{
  background-color: gray;
  opacity: 0.7;
}
.details h3{
  color: whitesmoke;
  margin: 0 auto;
  padding: 3%;
}
.info hr{
  color: #f8c12a;
  height: 3px;
}
.details{
  width: 40%;
  padding: 3%;
}

.typ{
  display: flex;
  align-items: center;
  margin:5% ;
  color: white;
}
.details ul{
  margin: 0;
  display: block;
  list-style-type: none;
}
.details a{
  color: #f8c12a;
  text-decoration: none;
}
.link, .link:hover{
  text-decoration: none;
  color: black;
}

.carousel{
  width: 50%;
}
.detailed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.navbar{
  width: 100%;
  position: relative;
  margin-top: 1%;
}
.navbar ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50%;
  width: 500px;
}

.fa{
  display: inline;
}
h3{color: #f8c12a;}



.welcome{
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container{

  width: 100%;

  padding: 0;

}
.card{

  margin: 2% 1%;
  float: left;
  border-radius: 15px;
  outline: none;
  -webkit-box-shadow: 4px 4px 5px 4px rgb(228, 222, 222);
          box-shadow: 2px 2px 5px 4px rgb(228, 222, 222);
}
.card:hover{
  transform: scale(1.05);
}
.carpic{
  min-height: 40vh;


  background-position: center;
  background-size: cover ;
  color:  whitesmoke;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
}
.carpic:hover{
  opacity: 0.8;

}
.addtocart{
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  background-color: white;
  border-radius: 15px;
  letter-spacing: 2px;

}
.addtocart:active{
  -webkit-animation-name: add;
          animation-name: add;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.carpic:hover .addtocart{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
p{
  margin: 0;
}
.card p{
  background-color: white;
  color: black;
  letter-spacing: 1px;
  padding: 5%;
  opacity: 0.8;
  border-radius: 0px 0px 10px 10px;
}
.bootel{
  width: 100%;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  
  -webkit-box-align: center;
  
      -ms-flex-align: center;
  
          align-items: center;
}
.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}


@media screen and (max-width:1200px) {
  .bootel{
    margin-top: 7%;
  }
}
@media screen and (max-width:800px) {
  .bootel{
    margin-top: 3%;
  }
  
}
@media screen and (max-width:940px) {
  .carpic{
    height: 30vh;
  }
}

.info{
  background-color: gray;
  opacity: 0.7;
}
.details h3{
  color: whitesmoke;
  margin: 0 auto;
  padding: 3%;
}
.info hr{
  color: #f8c12a;
  height: 3px;
}
.details{
  width: 40%;
  padding: 3%;
}

.typ{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin:5% ;
  color: white;
}
.details ul{
  margin: 0;
  display: block;
  list-style-type: none;
}
.details a{
  color: #f8c12a;
  text-decoration: none;
}
.link, .link:hover{
  text-decoration: none;
  color: black;
}

.carousel{
  width: 50%;
}
@media screen and (max-width:700px) {
  .carousel{
    width: 70%;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bootel{
    width: 80%;
    margin: 3%;
  }
}
.detailed{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logincard{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  display: block;
}
.forgotpassword{
  display: block;
  font-size: 12px;
  width: 45%;
}
.logincard h2{
  margin: 3% 5% 0 5%;
}
form{
  width: 50%;
}
input{
  margin: 5% 5% 0 5%;
  padding: 5%;
  width: 100%;
  border-radius: 10px;
}
.logincard button{
  margin: 2%;
  outline: none;
  border: none;
  width: 25%;
  padding: 1%;
  background-color: #f8c12a;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
}
.logincard p a{
  text-decoration: none;
  color: #f8c12a;
}
.logincard p{
  margin: 2%;
}
@media screen and (max-width:500px) {
  .logincard button{
    margin: 4%;
    padding: 1%;
    width: 50%;
    font-size: 16px;
  }
  form{
    width: 90%;
  }
}


.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader{
  margin: 10% auto;
}
.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}


