/* .navbar{
  width: 100%;
  position: relative;
  margin-top: 1%;
}
ul{
  display: flex;
  margin-left: 50%;
}
h3{color: #f8c12a;}



.welcome{
  color: black;
  width: 100%;
  display: flex;
}
.container{

  width: 100%;

  padding: 0;

}
.card{

  margin: 2% 1%;
  float: left;
  border-radius: 15px;
  outline: none;
  box-shadow: 4px 4px 5px 4px gray;
}
.carpic{
  min-height: 40vh;


  background-position: center;
  background-size: cover ;
  color:  whitesmoke;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
}
.carpic:hover{
  opacity: 0.8;

}
.addtocart{
  transform: scale(0);
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  background-color: white;
  border-radius: 15px;
  letter-spacing: 2px;

}
.addtocart:active{
  animation-name: add;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.carpic:hover .addtocart{
  transform: scale(1);
  transition: .5s;
}
p{
  margin: 0;
}
.card p{
  background-color: white;
  color: black;
  letter-spacing: 1px;
  padding: 5%;
  opacity: 0.8;
  border-radius: 0px 0px 10px 10px;
}
.bootel{
 
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  
  align-items: center;
}
.row{
  display: flex;
  margin: 0;
  padding: 0;
}


@media screen and (max-width:1200px) {
  .bootel{
    margin-top: 7%;
  }
}
@media screen and (max-width:800px) {
  .bootel{
    margin-top: 3%;
  }
  
}
@media screen and (max-width:940px) {
  .carpic{
    height: 30vh;
  }
}

.info{
  background-color: gray;
  opacity: 0.7;
}
.details h3{
  color: whitesmoke;
  margin: 0 auto;
  padding: 3%;
}
.info hr{
  color: #f8c12a;
  height: 3px;
}
.details{
  width: 40%;
  padding: 3%;
}

.typ{
  display: flex;
  align-items: center;
  margin:5% ;
  color: white;
}
.details ul{
  margin: 0;
  display: block;
  list-style-type: none;
}
.details a{
  color: #f8c12a;
  text-decoration: none;
}
.link, .link:hover{
  text-decoration: none;
  color: black;
}

.carousel{
  width: 50%;
}
.detailed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.navbar{
  width: 100%;
  position: relative;
  margin-top: 1%;
}
.navbar ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50%;
  width: 500px;
}

.fa{
  display: inline;
}
h3{color: #f8c12a;}



.welcome{
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container{

  width: 100%;

  padding: 0;

}
.card{

  margin: 2% 1%;
  float: left;
  border-radius: 15px;
  outline: none;
  -webkit-box-shadow: 4px 4px 5px 4px gray;
          box-shadow: 4px 4px 5px 4px gray;
}
.carpic{
  min-height: 40vh;


  background-position: center;
  background-size: cover ;
  color:  whitesmoke;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
}
.carpic:hover{
  opacity: 0.8;

}
.addtocart{
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  background-color: white;
  border-radius: 15px;
  letter-spacing: 2px;

}
.addtocart:active{
  -webkit-animation-name: add;
          animation-name: add;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.carpic:hover .addtocart{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
p{
  margin: 0;
}
.card p{
  background-color: white;
  color: black;
  letter-spacing: 1px;
  padding: 5%;
  opacity: 0.8;
  border-radius: 0px 0px 10px 10px;
}
.bootel{
  width: 100%;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  
  -webkit-box-align: center;
  
      -ms-flex-align: center;
  
          align-items: center;
}
.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}


@media screen and (max-width:1200px) {
  .bootel{
    margin-top: 7%;
  }
}
@media screen and (max-width:800px) {
  .bootel{
    margin-top: 3%;
  }
  
}
@media screen and (max-width:940px) {
  .carpic{
    height: 30vh;
  }
}

.info{
  background-color: gray;
  opacity: 0.7;
}
.details h3{
  color: whitesmoke;
  margin: 0 auto;
  padding: 3%;
}
.info hr{
  color: #f8c12a;
  height: 3px;
}
.details{
  width: 40%;
  padding: 3%;
}

.typ{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin:5% ;
  color: white;
}
.details ul{
  margin: 0;
  display: block;
  list-style-type: none;
}
.details a{
  color: #f8c12a;
  text-decoration: none;
}
.link, .link:hover{
  text-decoration: none;
  color: black;
}

.carousel{
  width: 50%;
}
@media screen and (max-width:700px) {
  .carousel{
    width: 70%;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bootel{
    width: 80%;
    margin: 3%;
  }
}
.detailed{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logincard{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  display: block;
}
.forgotpassword{
  display: block;
  font-size: 12px;
  width: 45%;
}
.logincard h2{
  margin: 3% 5% 0 5%;
}
form{
  width: 50%;
}
input{
  margin: 5% 5% 0 5%;
  padding: 5%;
  width: 100%;
  border-radius: 10px;
}
.logincard button{
  margin: 2%;
  outline: none;
  border: none;
  width: 25%;
  padding: 1%;
  background-color: #f8c12a;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
}
.logincard p a{
  text-decoration: none;
  color: #f8c12a;
}
.logincard p{
  margin: 2%;
}
@media screen and (max-width:500px) {
  .logincard button{
    margin: 4%;
    padding: 1%;
    width: 50%;
    font-size: 16px;
  }
  form{
    width: 90%;
  }
}

.socketbox{
  display: flex;
  justify-content: center;
  align-items: center;

}
.socket {
  width: 200px;
  height: 200px;
  position: relative;
  /* left: 50%; */
  /* margin-left: -100px; */
  top: 50%;
  margin-top: 5%;
  margin-bottom:5% ;
}

.hex-brick {
  background: gray;
  /* background-color: #f8c12a; */
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.h2 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.h3 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}

.gel {
  height: 30px;
  width: 30px;
  transition: all .3s;
  -webkit-transition: all .3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-gel {
  margin-left: -15px;
  margin-top: -15px;
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.c1 {
  margin-left: -47px;
  margin-top: -15px;
}

.c2 {
  margin-left: -31px;
  margin-top: -43px;
}

.c3 {
  margin-left: 1px;
  margin-top: -43px;
}

.c4 {
  margin-left: 17px;
  margin-top: -15px;
}

.c5 {
  margin-left: -31px;
  margin-top: 13px;
}

.c6 {
  margin-left: 1px;
  margin-top: 13px;
}

.c7 {
  margin-left: -63px;
  margin-top: -43px;
}

.c8 {
  margin-left: 33px;
  margin-top: -43px;
}

.c9 {
  margin-left: -15px;
  margin-top: 41px;
}

.c10 {
  margin-left: -63px;
  margin-top: 13px;
}

.c11 {
  margin-left: 33px;
  margin-top: 13px;
}

.c12 {
  margin-left: -15px;
  margin-top: -71px;
}

.c13 {
  margin-left: -47px;
  margin-top: -71px;
}

.c14 {
  margin-left: 17px;
  margin-top: -71px;
}

.c15 {
  margin-left: -47px;
  margin-top: 41px;
}

.c16 {
  margin-left: 17px;
  margin-top: 41px;
}

.c17 {
  margin-left: -79px;
  margin-top: -15px;
}

.c18 {
  margin-left: 49px;
  margin-top: -15px;
}

.c19 {
  margin-left: -63px;
  margin-top: -99px;
}

.c20 {
  margin-left: 33px;
  margin-top: -99px;
}

.c21 {
  margin-left: 1px;
  margin-top: -99px;
}

.c22 {
  margin-left: -31px;
  margin-top: -99px;
}

.c23 {
  margin-left: -63px;
  margin-top: 69px;
}

.c24 {
  margin-left: 33px;
  margin-top: 69px;
}

.c25 {
  margin-left: 1px;
  margin-top: 69px;
}

.c26 {
  margin-left: -31px;
  margin-top: 69px;
}

.c27 {
  margin-left: -79px;
  margin-top: -15px;
}

.c28 {
  margin-left: -95px;
  margin-top: -43px;
}

.c29 {
  margin-left: -95px;
  margin-top: 13px;
}

.c30 {
  margin-left: 49px;
  margin-top: 41px;
}

.c31 {
  margin-left: -79px;
  margin-top: -71px;
}

.c32 {
  margin-left: -111px;
  margin-top: -15px;
}

.c33 {
  margin-left: 65px;
  margin-top: -43px;
}

.c34 {
  margin-left: 65px;
  margin-top: 13px;
}

.c35 {
  margin-left: -79px;
  margin-top: 41px;
}

.c36 {
  margin-left: 49px;
  margin-top: -71px;
}

.c37 {
  margin-left: 81px;
  margin-top: -15px;
}

.r1 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
}

.r2 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

.r1 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
}

.r2 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

@keyframes pulse00 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade00 {
  0% {
    /* background: #252525; */
    background: white;
  }

  50% {
    background: #f8c12a;
  }

  100% {
    background: gray;
  }
}

